<body style="background-color:lightgray; color:black; font-family:Verdana;">
  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %> page
    </p>
  </div>

  <div style="width:980px; margin-left:auto; margin-right:auto;">
    <header>
    
    <hr width="1000px;"
            size="10"
            align="center">
    
    <h4>Student Name: Mark Joseph Gil C. Vinarao</h4>
    <h4>Student #: 301161669</h4>
    
    <hr width="1000px;"
            size="10"
            align="center">
    
    </header>
    <main>
    <p>I graduated Electronics Engineering in the Philippines,</p>
    <p>and most of my work experience was in the field of Analytics.</p>
    <p>I would like to pursue Data Science path in the near future,
    <p>that's why I took the <b>Software Engineering Technician</b> program at Centennial College.</p>
    <p>I know that this will help me in my future career as these fields are both converging.</p>

    <hr width="1000px;"
    size="10"
    align="center">

    <br>
    <p>One of My Favorite quote from Isaac Newton:</p>
    
    <blockquote>
    <p><i>"I do not know what I may appear to the world; but to myself I seem to have been only like a boy playing on the seashore,
    and diverting myself in now and then finding a smoother pebble or a prettier shell than ordinary, whilst the great ocean of truth lay all undiscovered before me."</i></p>
    </blockquote>
</main>
    </div>

    </body>