<body style="background-color:lightgray; color:black; font-family:Verdana;">
  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %> page
    </p>
  </div>

  <div style="width:980px; margin-left:auto; margin-right:auto;">
    <header>
    
    <hr width="1000px;"
            size="10"
            align="center">
    
    <h3 style="text-align:center">Contact Me</h3>
    <h4 style="text-align:center">Email: mvinarao@my.centennialcollege.ca</h4>
    <h4 style="text-align:center">Phone: +1 (437) 222-2325</h4>
    
    <hr width="1000px;"
            size="10"
            align="center">
    
    </header>


  <h5 class="auto-style2" style="background-color:lightgray;">Any Other Comments? (Please use below space)</h5>
  <br>
<p>What is your email? <input name="Text1" type="text" size="30"></p>
<p>What is your phone number? <input name="Text1" type="text" size="30"></textarea></p>
<p>Messsage:  <textarea name="Best thing" cols="62" rows="6" class="auto-style3"></textarea></p>&nbsp;
<p></p>
<input name="Submit1" type="Submit" value="Submit" />
</div>
</body>