<body style="background-color:lightgray; color:black; font-family:Verdana;">
  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %> page
    </p>
  </div>


  <div style="width:980px; margin-left:auto; margin-right:auto;">
    <header>
    
    <hr width="1000px;"
            size="10"
            align="center">
    
    <h3 style="text-align:center">My Projects</h3>
    
    <hr width="1000px;"
            size="10"
            align="center">
    
    </header>

    <br><a href="http://studentweb.cencol.ca/mvinarao/COMP213%20files/Home.html">Realty Website Project</a>
    <br><a href="http://studentweb.cencol.ca/mvinarao/assignment4.html">Web Forms Project</a>
    <br><a href="http://studentweb.cencol.ca/mvinarao/assignment5.html">Bug Smasher Project</a>
    </div>

    </body>
    
    