<body style="background-color:lightgray; color:black; font-family:Verdana;">
  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %> page
    </p>
  </div>

  <div style="width:980px; margin-left:auto; margin-right:auto;">

  <header>
    
    <hr width="1000px;"
            size="10"
            align="center">
    
    <h3 style="text-align:center">Services Offered</h3>
    
    <hr width="1000px;"
            size="10"
            align="center">
    
    </header>

      <ul>
      <li>Web Design</li>
      <li>Web Development</li>
      <li>Web Creation</li>
      <li>Automation</li>
      </ul>

    </div>

    </body>